* {
  box-sizing: border-box;
  margin: 0px;
}

h1 {
  color: blue;
  margin: 20px;
  text-align: center;
}

.col {
  float: left;
  position: relative;
  padding: 10px;
  margin-left: auto;
}

.sec-head {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: yellow;
  border: 1px solid black;
  padding: 5px 25px 5px 25px;
}

.lorem-text {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  position: relative;
  border: 1px solid black;
  background-color: grey;
}

.sec-head {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: yellow;
  border: 1px solid black;
  padding: 5px 25px 5px 25px;
}

#chicken {
  background-color: #1f23f2;
  color: #ffffff;
}

#beef {
  background-color: #ff0012;
}

#sushi {
  background-color: #00ffff;
}

@media (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3 {
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .col-med-1, .col-med-2 {
    width: 50%;
  }
  .col-med-3 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3 {
    width: 33.33%;
  }
}

